.App {
  margin-top: 2vh;
  text-align: center;
  border: 3px;
  max-width: 95vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  color: #2c7da8;
  background-image:url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}





.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.SearchBar input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.SearchBar button[type="submit"] {
  background-color: #3e9bcc; /* Blue button background */
  color: #ffffff; /* White button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Makes the button cloud-shaped */
  outline: none;
  cursor: pointer;
}

.SearchBar button[type="submit"]:hover {
  background-color: #2c7da8; /* Darker blue on button hover */
}

.weather-quote {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.weather-quote .ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.weather-quote .ellipsis.visible {
  white-space: normal;
}

.title {
  margin: 0;
  font-size: 80px;
  color: rgba(225, 225, 225, .01);
  background-image: url("./images/keyframes.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }

  25% {
    background-position: right bottom;
  }

  50% {
    background-position: left bottom;
  }

  75% {
    background-position: right top;
  }
}